#reset-this-root {
  all: unset;
}

html, body {
  height: 100%;
  margin: 0;
  font-family: 'Bebas Neue', cursive;
  /* font-family: 'Inter', sans-serif; */
  letter-spacing: 0.04rem;
  /* line-height: 2rem; */
  overflow-x: hidden;
}

body {
  font-size: 1.4rem;
}

p {
  margin: 0;
}

h1 {
  width: 100%;
  font-size: 6rem;
  margin: 0;
}

main {
  background-color: #E0E1E4;
  margin-left: 35vw;
  margin-right: 200px;
  width: 100vw;
  min-height: 100vh;
}

img {
  object-fit: cover;
}

button {
  background: #03acf0;
  font-family: 'Bebas Neue', cursive;
  font-size: 1.5rem;
  border: none;
  border-radius: 10px;
  padding: 10px 50px;
}

.sidebar {
  position: fixed;
  float: left;
  width: 35vw;
  height: 100vh;
}

figure {
  margin: 0;
  width: 100%;
  height: 100%;
}

figcaption {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  bottom: 0;
  text-align: center;
  font-size: 22.4px;
  resize: none;
  color: white;
}

a:visited, a:active, a:link, a:focus {
  color: #0000EE;
}

section {
  padding-left: 80px;
}

.opacity {
  background: rgba(3, 172, 240, 0.7);
}

.banner-image {
  width: 100%;
  height: 100%;
}

.banner-textbox {
  position: absolute;
  text-align: center;
  width: 100%;
  max-width: 35vw;
  top: 10%;
  color: white;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: .05rem;
}

section.copy-textbox {
  padding-top: 75px;
  padding-right: 50vw;
  padding-bottom: 25px;
}

section.copy-textbox > p:first-child {
  margin-bottom: 30px;
  font-size: 8rem;
  line-height: 7rem;
}

section.copy-textbox > p:last-child {
  margin-top: 30px;
}

label, input {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  font-size: 1.05rem;
}

section.signup-input {
  display: flex;
  flex-wrap: wrap;
  min-height: 100%;
  background-color: white;
  padding-right: 50vw;
  box-shadow: 0px 5px 5px #cccccc;
}

section.signup-input > div {
  flex: 50%;
  margin-bottom: 25px;
}

section.signup-input input {
  border: 1px solid #aaa;
  border-radius: 3px;
}

section.signup-input input:focus {
  outline-style: none;
  border: 1px solid #03acf0;
  border-radius: 3px;
  box-shadow: 0px 1px 5px #cccccc;
}

section.signup-input > p {
  flex-basis: 100%;
  margin: 15px 0;
}

section.submit-login-container {
  padding-top: 30px;
  padding-bottom: max(0px, 5vh);
}

section.submit-login-container > p {
  margin-top: 30px;
}

